@font-face {
  font-family: 'GeographMedium'; 
  src: url('typefaces/Geograph-Medium.otf'); 
}
@font-face {
  font-family: 'GeographRegular'; 
  src: url('typefaces/Geograph-Regular.otf'); 
}
@font-face {
  font-family: 'GoodSansMedium'; 
  src: url('typefaces/GoodSans-Medium.otf'); 
}
@font-face {
  font-family: 'GoodSansRegular'; 
  src: url('typefaces/GoodSans-Regular.otf'); 
}
@font-face {
  font-family: 'GoodSansLight'; 
  src: url('typefaces/GoodSans-Light.otf'); 
}

h1{
  font-size: 80px;
  font-family: 'GeographMedium';
}
h2{
  font-size: 52px;
  font-family: 'GeographRegular'; 
  color: #3E3013;
}
h3{
  font-size: 28px;
  font-family: 'GoodSansRegular';
}
h4{
  font-size: 24px;
  font-family: 'GoodSansRegular';
}
p{
  font-size: 18px;
  font-family: 'GoodSansLight';
  line-height: 35px;
}
h5{
  font-size: 16px;
  font-family: 'GoodSansLight';
}
button{
  font-size: 20px;
  font-family: 'GoodSansMedium';
}

body {
  background-color: #FFFDFA;
  padding: 0;
  margin: 0;
}
#logoPlacement{
  display: flex;
  width: 100%;
  height: 82px;
  position: fixed;
  top: 0;
  z-index: 100;
}
#navContainer{
  display: flex;
  width: 100%;
  height: 82px;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: #3E3013;
  opacity: 35%;
}
#navBar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  height: 82px;
  top: 0;
  z-index: 50;
}
.navButton{
  background-color: #1D3514;
  color: #FFFDFA;
  border-radius: 25px;
  border: none;
  height: 60px;
  width: 125px;
  z-index: 100;
  font-size: 20px;
}
.navButton:hover {
  background-color: #AFE9D3;
  color: #3E3013;
}
#titleArea{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/main_picture.png') center/cover no-repeat;
  background-size: 110%;
  width: 100%;
  margin-top: -82px;
  height: 763px;
}
#title{
  position: absolute;
  color: #FFFDFA;
  text-align: center;
  z-index: 30;
}


#whatWeDo{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#textColumn{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#intro{
  font-size: 20px;
  color: #3E3013;
  line-height: 42px;
}
#learnMoreColumn{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.aboutButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #325227;
  margin-top: 3%;
  color: #FFFDFA;
  border: none;
  border-radius: 15px;
  min-height: 45px;
  min-width: 400px;
  text-indent: 5%;
  font-size: 18px;
}
.aboutButton:hover {
  background-color: #AFE9D3;
  color: #3E3013;
  transition: 0.5s;
}

#whatWeOffer{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#campersImage{
  margin-top: 5%;
}
#textColumn2{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.programButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  background-color: #D6440A;
  color: #FFFDFA;
  border-color:#D6440A;
  border-radius: 25px;
  min-height: 135px;
}
.programButton:hover{
  background-color: #FFFDFA;
  color: #D6440A;
  transition: 0.5s;
  
}
.line{
  margin-left: 5%;
  margin-right: 5%;
}
.arrowIcon{
  width: 15%;
}

#whatMakesUsUnique{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#displaySection{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
}
.displayBox{
  display: flex;
  width: 275px;
  flex-direction: column;
  align-items: center;
  background-color: #E8F6FD;
  border-radius: 25px;
}
.displayHeading{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
}
.displayBody{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#getInvolved{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#donationColumn{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10%;
}
#donateButton{
  background-color: #D6440A;
  height: 70px;
  border-color: #D6440A;
  border-radius: 25px;
  color: #FFFDFA;
  width: 200px;
}
#donateButton:hover{
  background-color: #FFFDFA;
  color: #D6440A;
  border-color: #D6440A;
  transition: 0.5s;
}
.textInput{
  background-color: #E8F6FD;
  border-color: #8ED1F3;
  border-radius: 15px;
}
#submit{
  background-color: #325227;
  color: #FFFDFA;
  height: 60px;
  border: none;
  border-radius: 25px;
}
#submit:hover{
  background-color: #AFE9D3;
  color: #3E3013;
  transition: 0.5s;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.contactInfo{
  font-size: 16px;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: #3E3013;
}
.contactInfo:focus{
  color:#AFE9D3;
  transition: 0.3s;
}
#logoFooter{
  width: 6%;
  z-index: 10;
}
#mountainSketch{
  width: 100%;
  z-index: -50;
}
