@font-face {
  font-family: 'GeographMedium'; 
  src: url('typefaces/Geograph-Medium.otf'); 
}
@font-face {
  font-family: 'GeographRegular'; 
  src: url('typefaces/Geograph-Regular.otf'); 
}
@font-face {
  font-family: 'GoodSansMedium'; 
  src: url('typefaces/GoodSans-Medium.otf'); 
}
@font-face {
  font-family: 'GoodSansRegular'; 
  src: url('typefaces/GoodSans-Regular.otf'); 
}
@font-face {
  font-family: 'GoodSansLight'; 
  src: url('typefaces/GoodSans-Light.otf'); 
}

@media only screen and (max-width: 715px) { 
.navButton{
  display: none;
}
h1{
  font-size: 48px;
  font-family: 'GeographMedium';
}
h2{
  font-size: 32px;
  font-family: 'GeographRegular'; 
  color: #3E3013;
}
h3{
  font-size: 24px;
  font-family: 'GoodSansRegular';
}
h4{
  font-size: 20px;
  font-family: 'GoodSansRegular';
}
p{
  font-size: 16px;
  font-family: 'GoodSansLight';
  line-height: 30px;
}
h5{
  font-size: 16px;
  font-family: 'GoodSansLight';
}
button{
  font-size: 20px;
  font-family: 'GoodSansMedium';
}
input {
  font-size: 16px;
  font-family: 'GoodSansLight';
  text-indent: 12px;
}
#navBar{
  justify-content: flex-end;
}
#menu {
  margin-right: 2%;
}
}


@media only screen and (min-width: 715px) {
h1{
  font-size: 6.5vw;
  font-family: 'GeographMedium';
}
h2{
  font-size: 50px;
  font-family: 'GeographRegular'; 
  color: #3E3013;
}
h3{
  font-size: 28px;
  font-family: 'GoodSansRegular';
  
}
h4{
  font-size: 24px;
  font-family: 'GoodSansRegular';
  line-height: 36px;
}
p{
  font-size: 18px;
  font-family: 'GoodSansLight';
}
h5{
  font-size: 16px;
  font-family: 'GoodSansLight';
}
button{
  font-size: 20px;
  font-family: 'GoodSansMedium';
}
input {
  font-size: 16px;
  font-family: 'GoodSansLight';
  text-indent: 12px;
}
#menu {
  display: none;
}
#navBar{
  justify-content: center;
}
}

body {
  background-color: #FFFDFA;
  margin: 0;
}
#navBar{
  display: flex;
  align-items: center;
  gap: 5%;
  background-color: #3e301365;
  width: 100%;
  position: fixed;
  height: 82px;
  top: 0;
  z-index: 1;
}
#logo{
  height: 82px;
  position: fixed;
  left: 1%;
  top: 0;
  z-index: 1;
}
.navButton{
  background-color: #1D3514;
  color: #FFFDFA;
  border-radius: 25px;
  border: none;
  height: 60px;
  min-width: 110px;
  width: 11vw;
  font-size: 20px;
}
.navButton:hover {
  background-color: #AFE9D3;
  color: #3E3013;
  transition: 0.5s;
}
#titleArea{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/main_picture.png') center/cover no-repeat;
  /* background-size: 200vh, 150vw; */
  min-width: 350px;
  width: 100%;
  margin-top: -82px;
  height: 763px;
  z-index: -10;
}
#title{
  position: absolute;
  color: #FFFDFA;
  text-shadow: 3px 3px 2px #3E3013;
  text-align: center;
  z-index: 0;
  margin-bottom: 6%;
  max-width: 600px;
}


#whatWeDo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8%;
  /* padding: 10%; */
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;

}
#textColumn{
  display: flex;
  flex-direction: column;
}
#intro{
  font-size: 20px;
  color: #3E3013;
  line-height: 42px;
  max-width: 600px;
  min-width: 350px;
}
#learnMoreColumn{
  display: flex;
  flex-direction: column;
  color: #3E3013;
  max-width: 450px;
  min-width: 350px;
  margin-top: 5%;
}
.aboutButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #325227;
  margin-top: 3%;
  color: #FFFDFA;
  border: none;
  border-radius: 15px;
  min-height: 45px;
  min-width: 350px;
  font-size: 18px;
  text-indent: 12px;
}
.aboutButton:hover {
  background-color: #AFE9D3;
  color: #3E3013;
  transition: 0.5s;
}

#whatWeOffer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6%;
  /* padding: 10%; */
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#campersImage{
  margin-top: 10%;
  min-width: 350px;

}
#textColumn2{
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  width: 475px;
}
.programButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  background-color: #D6440A;
  color: #FFFDFA;
  border-color:#D6440A;
  border-radius: 25px;
  min-height: 135px;
  min-width: 350px;
}
.programButton:hover{
  background-color: #FFFDFA;
  color: #D6440A;
  transition: 0.5s;
}
.programTitle{
  text-indent: 12px;
}
.line{
  margin-left: 5%;
  margin-right: 5%;
}
.arrowIcon{
  width: 15%;
}

#whatMakesUsUnique{
  /* padding: 10%; */
  color: #3E3013;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#displaySection{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
}
.displayBox{
  display: flex;
  width: 275px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #E8F6FD;
  border-radius: 25px;
}
.displayHeading{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
}
.displayBody{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}


#getInvolved{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24%;
  color: #3E3013;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
#donationColumn{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 350px;
}
#donateButton{
  background-color: #D6440A;
  height: 70px;
  margin-top: 12px;
  border-color: #D6440A;
  border-radius: 25px;
  color: #FFFDFA;
  width: 200px;
}
#donateButton:hover{
  background-color: #FFFDFA;
  color: #D6440A;
  border-color: #D6440A;
  transition: 0.5s;
}
#signupColumn{
  margin-top: 5%;
  margin-left: -12%;
  min-width: 300px;
}
label{
  font-size: 16px;
  font-family: 'GoodSansLight';
}
.textInput{
  background-color: #E8F6FD;
  border-color: #8ED1F3;
  border-radius: 15px;
  height: 40px;
  min-width: 300px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#submit{
  background-color: #325227;
  color: #FFFDFA;
  height: 60px;
  margin-top: 24px;
  border: none;
  border-radius: 25px;
  min-width: 150px;
}
#submit:hover{
  background-color: #AFE9D3;
  color: #3E3013;
  transition: 0.5s;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url('images/mountain.png') center/cover no-repeat;
  /* background-size: 200vh, 150vw; */
  min-height: 550px;
  margin-bottom: 5%;
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 320px;
}
.contactInfo{
  font-size: 16px;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: #3E3013;
}
.contactInfo:focus{
  color:#AFE9D3;
  transition: 0.3s;
}
#logoFooter{
  width: 6%;
  min-width: 80px;
  margin-top: 10px;
  margin-bottom: -20px;
  z-index: 10;
}
